/* .p{
    width: 30%;
    height: 40vh;
    margin: 20px 10px;
    border: 2px solid black;
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
}
.p-browser{
    height: 20px;
    background-color: black;
    display: flex;
    align-items: center;
}
.p-circle{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin: 3px;
    background-color: white;
} */

li{
    margin: 1em;
}
.button {
    border-radius: 20px;
    border: none;
    text-align: center;
    font-weight: 900;
    font-size: 1.125rem;
    margin: 5px;
    color: white;
    cursor: pointer;
    outline: none;
    background: #6c63ff;
    
}
.sw-projects-button-row{
    align-items: center;
    margin-right: 40%;

}
.sw-projects-text{
    text-align: left;
    
}
.sw-projects-cards {
    width: 75%;
    margin: 30px auto;
    padding: 40px;
    font-weight: 400;
    font-size: 1.125rem;
    background: white;
    box-shadow: 0px 10px 30px rgb(0 0 0 / 25%);
    border-radius: 20px;

}
#sw-projects-card2 {
    /* border: 5px solid #776d55; */
    grid-area: sw-projects-card2;
}
.sw-projects-title-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}
.sw-project-title {
    /* border: 5px solid #af812c; */
    font-size: 2rem;
    font-weight: 800;
    line-height: 1;
}
.sw-projects-content {
    /* border: 5px solid #2c4baf; */
    display: flex;
}
.sw-projects-img {
    /* border: 5px solid #ad29b9; */
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: var(--rounded-component-corners-size);
}

.sw-projects-img-container {
    /* border: 5px solid #8b8311; */
    height: 250px;
    width: 600px;
}
.sw-projects-info-container{
    margin: 0;
}

@media screen and (max-width: 480px) {

    .sw-projects-title-container {
        flex-direction: column;
    }
    .sw-projects-info-container {
        display: none;
    }
}