
li{
    margin: 1em;
    cursor:auto;
}

.p-button {
    width: 13%;
    border-radius: 20px;
    border: none;
    text-align: center;
    font-weight: 900;
    font-size: 1.125rem;
    margin: 5px;
    color: white;
    cursor: pointer;
    outline: none;
    background: #6c63ff;
    
}
.p-button-wrapper {
    align-items: center;


}
.p-block {
    display: flex;
    flex-direction: column;
}
.p-desc {
    text-align: left;
    
}
.p {
    width: 80%;
    margin: 30px auto;
    padding: 40px;
    font-weight: 400;
    font-size: 1.125rem;
    background: white;
    box-shadow: 0px 10px 30px rgb(0 0 0 / 25%);
    border-radius: 20px;

}

.p-title {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.p-content {
    display: flex;
}

.p-img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    box-sizing: inherit;
}

.p-img-wrapper {

    height: 250px;
    width: 600px;
    
}
.p-info-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    margin-left: 40px;
}
@media screen and (max-width: 480px) {

    .p-title {
        flex-direction: column;
    }
    .p-info-wrapper {
        display: none;
    }
    .p-button {
        width: 50%;
        margin-top: 20px;
    }

}