.c{
    height: 65vh;
    position: relative;
    overflow: hidden;
}
.c-bg {
    width: 20px;
    height: 110%;
    background-color: #6c63ff;
    position: absolute;
}
.c-wrapper{
    padding: 50px;
    display: flex;

}
.c-left{
    flex: 1;
    margin-left: 3%;
}
.c-right{
    flex: 1;
    display: flex;
    
    flex-direction: column;
    justify-content: center;
}
.c-title {
    font-size: 60px;
    width: 80%;
    font-weight: bold;
}
.c-info-item{
    display: flex;
    align-items: center;
    margin: 50px 0px;
    width: 70%;
    font-size: 25px;
}
.c-icon{
    width: 30px;
    height: 30px;
    margin-right: 20px;
}
.c-desc{
    font-weight: 200;
    margin-top: 10px;
    font-size: 24px;
}
form{
    margin-top: 20px;
    
}
input {
    width: 50%;
    height: 50px;
    border: none;
    border-bottom: 1px solid black;
    margin: 10px 0px;
    font-size: 14px;
    padding-left: 10px;
    font-size: 24px;
}
textarea{
    width: 70%;
    margin: 10px 0px;
    font-size: 14px;
    padding-left: 10px;
    font-size: 24px;

}
button{
    border:none;
    padding: 15px;
    background-color: green;
    color: white;
    font-weight: 500;
    cursor: pointer;
}
a{
    color: #000;
}
@media screen and (max-width: 480px) {
    .c-wrapper {
        flex-direction: column;
        padding: 0px 50px;
        align-items: center;
    }
    .c-title{
        font-size: 30px;
    }
    .c-info-item{
        margin: 20px 0px;
        width: 100%;
        font-size: 15px;
        text-align: center;
    }
    .c-desc{
        display: none;
    }
    form{
        display: none;
    }
    .c {
        height: 30vh;
        position: relative;
        overflow: hidden;
        display: flex;
        align-items: center;
    }
    .c-title{
        font-size: 2rem;
        margin-top: 40px;
        width: 100%;
        text-align: center;
    }
    input{
        width: 35%;
        height: 40px;
        margin: 10px;
        margin-left: 0px;
    }
    .c-bg{
        display: none;
    }
}