.i{
    display: flex;
    height: 100vh;
}

.i-left{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.i-right{
    flex: 1;
    position: relative;
}
.i-left-wrapper{
    padding: 50px;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.i-intro{
    font-size: 30px;
    font-weight: 300;
}
.i-name{
    font-size: 6rem;
    font-weight: 900;
        font-family: "Nunito",
        sans-serif;

   
}
.i-title {
    height: 50px;
    overflow: hidden;
}
.i-title-wrapper{
    height: 100%;
    animation: move 4s ease-in-out infinite alternate;
}
@keyframes  move {
    100%{
        transform: translateY(-50px);
    }

}
.i-desc{
    font-size: 1.5rem;
    font-weight: 400;

    
}
.logo{
    height: 12%;
    width: 7%;
    position: absolute;
    top: 5px;
    left: 5px;
}
.i-title-item{
    height: 50px;
    font-size: 35px;
    font-weight: bold;
    color: rgb(195, 83, 130);
    display: flex;
    align-items: center;
}
.i-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    
}
.i-nav{
    position: absolute;
    display: flex;
    width: 80%;
    margin-left: 5%;
    justify-content: space-around;
    list-style-type: none;
    font-size: 26px;
    font-weight: bold;
}
li{
    cursor: pointer;
}
a:hover{
    color: yellow;
}
a{
    text-decoration: none;
    color: white;
    transition: var(0.5s);
}
.i-bg{
clip-path: polygon(100% 0%, 0% 0%, 33% 28%, 20% 50%, 60% 63%, 32% 83%, 100% 100%);
    position: absolute;
    background-color: #6c63ff;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;   

}

@media screen and (max-width: 480px){
    .i{
        flex-direction: column;
    }
    .i-left-wrapper{
        padding:10px;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 100%;
    }
    .i-desc{
        display: none;
    }
}
